<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {% if site.ENV == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "stylesheets/app.compiled.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body class="bg-gray-200 font-mono">
      <nav class="p-4 flex justify-between text-xs uppercase font-bold">
        <a href="/"><span class="text-base">📷</span> photos.alwaysblank.org</a>
        <div>{{ site.description }}</div>
      </nav>
    <main class="px-4 py-8">
      {{ content | safe }}
    </main>
  </body>
  <script src="/static/app.bundled.js"></script>
</html>
