<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {% if site.ENV == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "static/styles/app.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles/app.css">
    {% endif %}
  </head>
  <body class="bg-gray-200 font-mono">
      <nav class="p-4 flex justify-between items-center text-xs uppercase font-bold">
        <a href="/"><span class="text-base text-3xl md:text-xl">📷</span> <span class="hidden md:inline-block">photos.alwaysblank.org</span></a>
        <div class="leading-tight">{{ site.description }}</div>
      </nav>
    <main class="px-4 py-8">
      {{ content | safe }}
    </main>
  </body>
  <script src="/static/scripts/app.js"></script>
</html>
