<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {% if site.ENV == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "static/styles/app.css" %}{% endset %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles/app.css">
    {% endif %}
  </head>
  <body class="bg-gray-200 font-mono">
      <nav class="p-4 flex justify-between items-center text-xs uppercase font-bold">
        <a href="/"><span class="text-base text-3xl md:text-xl">📷</span> <span class="hidden md:inline-block">photos.alwaysblank.dev</span></a>
        <div class="leading-tight">{{ site.description }}</div>
      </nav>
    <main class="p-8">
      {{ content | safe }}
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="text-center px-8 block text-lg border-b border-t mt-12 max-w-xl ml-auto mr-auto">
      {%- for entry in navPages %}
        <li class="inline {% if entry.url == page.url %}font-bold{% endif %}">
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>
    </main>
  </body>
  <script src="/static/scripts/app.js"></script>
  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
  <script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//stats.alwaysblank.org/tracker.js', 'fathom');
  fathom('set', 'siteId', 'ONFXV');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->
</html>
